## YAML Template.
---
version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_datoscoches
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
      - ./BDCoches.txt:/docker-entrypoint-initdb.d/BDCoches.sql
